#container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

#container h1 {
    font-size: 40px;
}

#container a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    color: #FFF;
    background-color: #FF0000;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}

#container a:hover {
    background-color: #B22222;
}